@media (min-width: 900px){
    
    .container {
       display: flex;
    }
    
    header {
        width: 37.7rem;
        height: 100vh;
        position: fixed;
        display: flex;
        flex-direction: column;   
        animation: SlideSideBar 700ms 350ms backwards;  
    }
    
    #logo-mobile{
        display: none;
    }

    #logo-desktop{
        display: block;
        padding: 3.2rem 0;
        animation: LogoRotate 10s 2s infinite;
    }
    
    .title h1 {
        font-size: 4rem;
    }
    
    .intro-desktop {
        display: block; 
        width: 27.5rem;
        text-align: center;
        align-self: center;
    }
    
    .intro-desktop p {
        padding: 0rem 1.5rem 2.5rem; 
        font-family: var(--ff-desktop-text);
        font-size: 1.8rem;
        color: var(--fc-primary);
        line-height: 2rem;
        margin-bottom: 10rem;
        
    }      
       
    .text p{
        display: none;
    }
    
    .cards {
        margin-left: 37.7rem;
        grid-template-areas:
            'A B'
            'C B'
            'C D'
            'E F';
    }
    
    .cards .card:nth-child(1){
        grid-area: A;
    }

    .cards .card:nth-child(2){
        grid-area: B;
    }

    .cards .card:nth-child(3){
        grid-area: D;
    }

    .cards .card:nth-child(4){
        grid-area: C;
    }

    
    .cards .card:nth-child(5){
        grid-area: E;
    }
    
    .cards .card:nth-child(6){
        grid-area: F;
    }

    .card span {
        display: none !important;
    }
    
    footer {
        padding-top: 5rem;
        margin-left: 37.7rem;
        display: block;
    }

    footer p {
        font-size: 1.4rem;
        font-family: var(--ff-footer);
        font-weight: 400;
        color: var(--fc-terciary);
        justify-content: center;
        line-height: 28px;
    }

    footer p a {
        font-weight: 700;
        text-decoration: none;
        color: var(--fc-terciary);
    }
}

@media(min-width: 1280px){

    .cards {
        display: grid;
        gap: 3.2rem;
        grid-template-areas:
            'A B C'
            'D B E'
            'D F E';
    }

    .cards .card:nth-child(1){
        grid-area: A;
    }

    .cards .card:nth-child(2){
        grid-area: B;
    }

    .cards .card:nth-child(3){
        grid-area: C;
    }

    .cards .card:nth-child(4){
        grid-area: D;
    }

    
    .cards .card:nth-child(5){
        grid-area: F;
    }
    
    .cards .card:nth-child(6){
        grid-area: E;
    }

}

@media (min-width: 1440px){
    main{
      margin: 0 auto;
    }
}